CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
src/.idea
src/cmake-build-debug
mt_homework_283624_c8e319_345726_a9fb04-345726-5ea8b7.pdf
source-12995-0be011.zip

